.profile__edit {
    background-image: url(../../../images/profile__edit_button.svg);
    width: 24px;
    height: 24px;
    margin-top: 34px;
    margin-left: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    transition: opacity 0.2s ease-in-out;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 451px) {
    .profile__edit {
        margin-left: 10px;
    }
}

@media screen and (max-width: 451px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        background-size: contain;
    }
}
