.header__logo {
    background-image: url(../../../images/header__logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        height: 24px;
        width: 103px;
        margin-top: 18px;
        margin-left: 27px;
    }
}