.popup__line-decoration {
    width: 358px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 13px;
}

@media screen and (max-width: 537px) {
    .popup__line-decoration {
        width: 238px;
    }
}