.profile__name {
    color: white;
    font-size: calc(27px + 21 * (100vw / 1280));
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 451px) {
    .profile__name {
        margin-top: 20px;
        margin-bottom: 9px;
    }
}