.elements__like {
    background-image: url(../../../images/elements__like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 18px;
    width: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    align-self: center;
    transition: opacity 0.2s ease-in-out;
}

.elements__like:hover {
    opacity: 0.6;
}