.profile__info {
    display: flex;
    flex-direction: row;
}


@media screen and (min-width: 1280px) {
    .profile__info {
        max-width: 630px;
    }
}

@media screen and (max-width: 1279px) {
    .profile__info {
        max-width: 600px
    }
}

@media screen and (max-width: 662px) {
    .profile__info {
        max-width: 500px
    }
}

@media screen and (max-width: 451px) {
    .profile__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
