.profile__job {
    color: white;
    font-size: calc(14px + 4 * (100vw / 1280));
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 451px) {
    .profile__job {
        text-align: center;
    }
}